.mainContainer {
    display: block;
    margin: 0 auto;
    width: 60%;
    height: 450px;
    background-color: antiquewhite;
}

.mainContainer .head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.cardcon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
}

.showPass {
    display: flex;
    justify-content: center;

}